@model WebHocTap.Web.ViewModels.Account.ForgotPasswordVM

@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Forgot Password</h2>

<div class="row" style="padding:100px">
    <form asp-action="ForgotPassword" method="post">
        <div class="form-group">
            <label for="Email">Email</label>
            <input type="email" class="form-control" asp-for="Email" required />
        </div>
        <button type="submit" class="btn btn-primary">Send Reset Link</button>
    </form>

    @if (TempData["Mesg"] != null)
    {
        <div class="alert alert-info">@TempData["Mesg"]</div>
    }
</div>