/* General styles */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('/clientLTE/images/learn.jpg') no-repeat center center fixed;
    background-size: cover;
}

.card {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    max-width: 450px;
    backdrop-filter: blur(10px);
}

.text-title {
    text-align: center;
}

.input-box {
    position: relative;
    margin-bottom: 20px;
}

    .input-box .input {
        display: flex;
        align-items: center;
    }

        .input-box .input .txtClass {
            margin-right: 10px;
        }

.inputLogin {
    width: 100%;
    padding: 20px 10px;
    border: none;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

    .inputLogin:focus {
        outline: none;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

.formCheck {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.btn-login {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 30px;
    background: linear-gradient(45deg, #2196F3, #21CBF3);
    color: white;
    font-size: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

    .btn-login:hover {
        background: linear-gradient(45deg, #21CBF3, #2196F3);
    }

.footerLogin {
    margin-top: 20px;
    text-align: center;
}
