
@{
    ViewData["Title"] = "CheckoutSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="confirmation-container">
        <h1>Mua khóa học thành công</h1>
        <p>Cảm ơn bạn đã mua khóa học của chúng tôi! Khóa học đã được thêm vào tài khoản của bạn.</p>
        <a class="confirmation-link" asp-action="ListSubUserBuy" asp-controller="Home">Khóa học đã mua</a>
    </div>
</div>

