@model WebHocTap.Data.Entites.CategorySub

@{
    ViewData["Title"] = "DetailSub";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styleclient {
    <link href="~/clientLTE/css/detailsub.css" rel="stylesheet" />
}

<section class="product">
    <div class="container-product">
        <div class="row-product">
            <!-- Product Image Section -->
            <div class="col-product-left">
                <img src="/img/categorysub/@Model.pathImg" loading="lazy" alt="Product Image" id="display-img" class="card-product">
            </div>

            <!-- Product Details Section -->
            <div class="col-product-right">
                <h1>@Model.NameCategorySub</h1>

                <!-- Price Section -->
                <div class="price-card">
                    Giá: <span id="price">@Model.Price.Value.ToString("#,##0") VNĐ</span>
                </div>

                <!-- Star Rating Section -->
                <div class="star">
                    <span>(239)</span>
                    <a class="fa fa-star s1"></a>
                    <a class="fa fa-star s2"></a>
                    <a class="fa fa-star s3"></a>
                    <a class="fa fa-star s4"></a>
                    <a class="fa fa-star s5"></a>
                </div>

                <!-- Add to Cart Form Section -->
                <form action="" id="add-cart">
                    <div class="extend-card">
                        <input type="hidden" name="price" value="200000">
                        <input type="hidden" name="inventory_id" value="6">


                        <!-- Add to Cart Button -->
                        <button class="btn" type="submit" asp-action="ChoosePaymentMethod" asp-controller="Home" asp-route-id="@Model.Id">
                            <i class="fa fa-credit-card"></i> Extend
                        </button>
                    </div>
                </form>

                <!-- Product Description -->
                <div class="product-description card-style">
                    <i class="fa fa-info-circle"></i>
                    <p>@Model.Descripstion</p>
                </div>

            </div>
        </div>
    </div>
</section>
