@{
    ViewData["Title"] = "Home Page";
}
<script type='text/javascript' src='https://hoangluyen.com/demo/js/snow.mini.js'></script>
<div>
<section id="home">
    <div class="slider">
        <div class="list">
            <div class="item">
                <img src="./clientLTE/images/Banner1.png" alt="">
            </div>
            <div class="item">
                    <img src="./clientLTE/images/Banner2.png" alt="">
            </div>
            <div class="item">
                    <img src="./clientLTE/images/Banner3.png" alt="">
            </div>
            <div class="item">
                    <img src="./clientLTE/images/Banner4.png" alt="">
            </div>
            <div class="item">
                    <img src="./clientLTE/images/Banner5.png" alt="">
            </div>
        </div>
        <div class="buttons">
            <button id="prev"><</button>
            <button id="next">></button>
        </div>
        <ul class="dots">
            <li class="active"></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

    <script src="/clientLTE/js/slider.js"></script>
</section>
</div>
<div class="container">
    <vc:list-features-view-components></vc:list-features-view-components>
    <vc:list-category-sub-cl-view-components></vc:list-category-sub-cl-view-components>
    <vc:list-category-sub-payment-view-components iduser="@Convert.ToInt32(User.Claims.SingleOrDefault(c => c.Type.Contains(System.Security.Claims.ClaimTypes.NameIdentifier))?.Value)"></vc:list-category-sub-payment-view-components>
    <br /><br /><br />
    <br /><br /><br />
    <br /><br /><br />

    <vc:list-category-sub-free-view-components></vc:list-category-sub-free-view-components>
</div>
    <div>
    <!--Start of Fchat.vn--><script type="text/javascript" src="https://cdn.fchat.vn/assets/embed/webchat.js?id=675a87105b59e300f135dd46" async="async"></script><!--End of Fchat.vn-->
    </div>