@{
    ViewData["Title"] = "Home Page";
}
<section id="home">
    <h2>thumbnail</h2>
    <p>để thumbnail ở đây ghi gì đó giới thiệu tên web vài vài thứ </p>
    <div class="btn">
        <a class="blue" href="#">Nút A </a>
        <a class="yellow" href="#">Nút B</a>
    </div>
</section>
<div class="container">
    <vc:list-features-view-components></vc:list-features-view-components>
    <vc:list-category-sub-cl-view-components></vc:list-category-sub-cl-view-components>
    <vc:list-category-sub-payment-view-components iduser="@Convert.ToInt32(User.Claims.SingleOrDefault(c => c.Type.Contains(System.Security.Claims.ClaimTypes.NameIdentifier))?.Value)"></vc:list-category-sub-payment-view-components>
    <br /><br /><br />
    <br /><br /><br />
    <br /><br /><br />

    <vc:list-category-sub-free-view-components></vc:list-category-sub-free-view-components>
</div>
    <vc:list-new-view-components></vc:list-new-view-components>