@model IEnumerable<WebHocTap.Data.Entites.News>

@{
    ViewData["Title"] = "Danh Mục Tin Tức";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="./clientLTE/css/News.css" rel="stylesheet" />
</head>
<div class="news-container" style="padding-top: 135px;">
    <div class="news-main">
        <div class="news-section">
            <ul id="news-body">
                @if (!Model.Any())
                {
                    <p>Không tìm thấy kết quả nào phù hợp với từ khóa tìm kiếm của bạn.</p>
                }
                else
                {
                    @foreach (var item in Model)
                    {
                        <li class="news-item">
                            <div class="news-item-wrapper">
                                <!-- Image box -->
                                <div class="news-box">
                                    <img src="~/img/news/@item.pathImg" alt="Img" class="news-image">
                                </div>
                                <!-- Content (Title + Description) -->
                                <div class="news-content">
                                    <a class="news-title" asp-route-id="@item.Id" asp-action="DetailNews" asp-controller="NewsClient">
                                        @item.Title
                                    </a>
                                    <p class="news-description">@Html.Raw(@item.Title)</p>
                                </div>
                            </div>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</div>

